*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;*/

}

header {
    background: grey;
}

.logo {
    width: 250px;
}

.absolute {
    position: absolute;
    right: 0;
    top: 30px;
}

nav{
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.banner {
    width: 100%;
    height: 700px;
}

footer{
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}
/*Menu de pesquisa*****/
.menuContainer{
    width: 300px;
    padding: 15px 0px;
    border: 1px solid blueviolet;

}
.menuContainer li a{
    padding: 12px;
    text-decoration: none;
    color:black;
    display: block;
   backface-visibility: hidden;
        
}
#menu li a{
    padding: 12px;
    text-decoration: none;
    display: block;
}
#menu li a:hover{
    background-color: rgb(179, 149, 207);
}

.menuContainer .pesquisar{
    padding-left: 10px;
}


#pesquisa{
    width: 95%;
    font-size: 18px;
    padding:11px;
    border: 1px solid  blueviolet;
}

#menu{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/**********************/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;

}

.subtitulo {
text-align: center;
font-size: 18px;
margin: 20px 0 20px 0;
color: blueviolet;
}

.container{
    width: 1150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

.container .card{
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: white;
    margin: 20px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.5s;
    text-align: center;
}

.container .card img{
    transition: 0.5s;
    }

    .container .card h1{
        font-size: 2rem;
    }

    .container .card .container{
        padding: 20px;
        text-align: center;
    }

    .container .card .content p{
        color:grey;
        transition: 0.5s;
    }

    .container .card .content a{
        position:relative;
        display: inline-block;
        padding:10px 20px;
        background-color: black;
        color:white;
        border-radius: 40px;
        text-decoration: none;
        transition:0.5s;
        outline: none;
        margin-top: 20px;   
 }

 .container .card:hover{
    background-color: blueviolet;
    color:white;
    margin-top: -30px;
    box-shadow: 2px 20px 25px violet;
    border-color:royalblue;

 }

 .container .card:hover img{
    filter: invert(1);
 }

 .container .card:hover .container p{
   color:white;
   
 }
 .container .card:hover .container a{
    color:black;
    background-color: white;
  }

footer{
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: auto 0 80px 0;
    background-color: grey;
}

.menurodape {
    display: flex;
    text-decoration: none;
    text-align: end;
    list-style: none; 
}

.menurodape li a {
    text-decoration: none;
    padding: 15px;
    color: blueviolet;
    display: block;
    list-style: none;
}

.menurodape img {
    width: 25px;
}

.identificacao{
    display: flex;
    text-decoration: none;
    text-align: end;
    padding: 50px;
    list-style: none;
    
}

.identificacao li a{
    text-decoration: none;
    padding: 15px;
    color: blueviolet;
    display: block;
    list-style: none;
    
}
.pesquise{
    margin:10px;
    padding: 10px;
    content: 10px;
}
